.Forecast {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .Forecast .list-group-item {
    background: #fdef24;
    border-color: #fdef24;
    /* border: 2px magenta solid; */
    padding: 1% 1% 0 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  .card {
        border: none;
        width: 60%;
        border: 2px magenta solid;
  }

  .cityForecast {
    color: magenta;
    background-color: #fdef24;
    padding: 3% 0 6% 0;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    text-align: center;
  }