
.WeatherApp {
  /* border: 2px solid magenta; */
display: flex;
justify-content: center;
}

.WeatherApp .weather {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fdef24;
    opacity: 85%;
  }
  
  @media (min-width: 1200px) {
    .WeatherApp .weather {
      width: 50vw;
    }
  }
  